/*///////////////////////////////////////////////////////////////////////////////////////
//
//  Hierarchy:     Englishtown > School > Component Styles > epaper
//  File:          ets-base.css					
//  Images:        						
//  Dependencies:  None
//  Description:   Defined the various epaper style
//                 Must be referenced in all school content !important
//
//////////////////////////////////////////////////////////////////////////////////////*/
#ets-epaper {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1000;
	height: 450px;
	border-radius: 10px 0 0 10px;
}
.ets-question-fullwidth #ets-epaper {
    /*display: none;*/
    left: -600px;
}
.ets-question-twocols #ets-epaper {
    width: 68%;
}
#ets-epaper-main {
	height: 100%;
	overflow: auto;
	text-align: left;
	background: #fff;
    border-radius: 10px 0 0 10px;
}
.ets-question-fullwidth #ets-epaper-main {
	width: 600px;
}
.ets-question-twocols #ets-epaper-main {
	width: 620px;
}
#ets-epaper-main-hd {
	width: 590px;
	height: 40px;
	background: url(../../imgs/epaper-hd.png) 0 0 repeat-x;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10000;
    border-radius: 10px 0 0 0;
}
#ets-epaper-main-ft {
	width: 590px;
	height: 40px;
	background: url(../../imgs/epaper-hd.png) 0 -40px repeat-x;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 10000;
    border-radius: 0 0 0 10px;
}
#ets-epaper-handler {
	background: url(../../imgs/epaper-handler.png) 0 center no-repeat;
	height: 100%;
	position: absolute;
	top: 0;
}
.ets-question-twocols #ets-epaper-handler {
	width: 5px;
	right: 0px;
}
.ets-question-fullwidth #ets-epaper-handler {
	width: 36px;
	right: -36px;
	border-radius: 10px 0 0 10px;
}
.ets-epaper-open #ets-epaper-handler {
	border-radius: 0;
}
.ets-epaper-btn-expand,
.ets-epaper-btn-collapse {
	margin: 152px 0 0 0;
	width: 30px;
	height: 100px;
	cursor: pointer;
}
.ets-epaper-btn-expand {
	background: url(../../imgs/epaper-handler.png) -67px 42px no-repeat;
}
.ets-epaper-btn-expand:hover {
	background: url(../../imgs/epaper-handler.png) -67px -38px no-repeat;
}
.ets-epaper-btn-collapse {
	background: url(../../imgs/epaper-handler.png) -67px -118px no-repeat;
}
.ets-epaper-btn-collapse:hover {
	background: url(../../imgs/epaper-handler.png) -67px -198px no-repeat;
}
#ets-act-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.2;
	display: none;
    border-radius: 10px;
}
