/*///////////////////////////////////////////////////////////////////////////////////////
//
//  Hierarchy:     Englishtown > School > Component Styles > epaper
//  File:          ets-base.css					
//  Images:        						
//  Dependencies:  None
//  Description:   Defined the various epaper style
//                 Must be referenced in all school content !important
//
//////////////////////////////////////////////////////////////////////////////////////*/
#ets-epaper-outer {
    position: absolute;
    overflow: hidden;
    z-index: 1000;
    width: 36px;
    height: 100%;
}
#ets-epaper {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	border-radius: 10px 0 0 10px;
	background: #FFF;
}
#ets-epaper-main {
	height: 100%;
	overflow: auto;
	overflow-x: hidden;
	text-align: left;
	background: #fff;
    border-radius: 10px 0 0 10px;
}
#ets-epaper-main-hd {
	width: 100%;
	height: 40px;
	background: url(../../imgs/epaper-hd.png) 0 0 repeat-x;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10000;
    border-radius: 10px 0 0 0;
}
#ets-epaper-main-ft {
	width: 100%;
	height: 40px;
	background: url(../../imgs/epaper-hd.png) 0 -40px repeat-x;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 10000;
    border-radius: 0 0 0 10px;
}
#ets-epaper-handler,
#ets-epaper-right-border {
	background: url(../../imgs/epaper-handler.png) 0 center no-repeat;
	height: 100%;
	top: 0;
}
#ets-epaper-handler {
	width: 36px;
	right: -36px;
    position: absolute;
}
#ets-epaper-right-border {
	width: 5px;
	right: -5px;
	position: absolute;
}
.ets-epaper-btn-expand,
.ets-epaper-btn-collapse {
	/*margin: 152px 0 0 0;*/
    top: 50%;
    margin-top: -50px;
	width: 30px;
	height: 100px;
	cursor: pointer;
    position: absolute;
}
.ets-epaper-btn-expand {
	background: url(../../imgs/epaper-handler.png) -67px 42px no-repeat;
}
.ets-epaper-btn-expand:hover {
	background: url(../../imgs/epaper-handler.png) -67px -38px no-repeat;
}
.ets-epaper-btn-collapse {
	background: url(../../imgs/epaper-handler.png) -67px -118px no-repeat;
}
.ets-epaper-btn-collapse:hover {
	background: url(../../imgs/epaper-handler.png) -67px -198px no-repeat;
}
#ets-act-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /*IE8*/
    filter:alpha(opacity=0);
	/*display: none;*/
}
#ets-epaper-content{
  padding: 20px;
  overflow: hidden;
}

