/*///////////////////////////////////////////////////////////////////////////////////////
//
//  Hierarchy:     Englishtown > School > Component Styles  
//  File:          ets-audio_player
/  Images:        						
//  Dependencies:  
//  Description:   
//
//////////////////////////////////////////////////////////////////////////////////////*/
.act-player_icon {
    width: 68px;
    height: 68px;
    background: url(http://test-ak.englishtown.com/_imgs/ui/courseware/study/player_icon_1-png8.png) no-repeat;
    display: block;
    cursor: pointer;
}

.act-player_icon16 {
    width: 16px;
    height: 16px;
    background: url(http://test-ak.englishtown.com/_imgs/ui/courseware/study/player_icons_16x17-png8.png) no-repeat;
    display: block;
    cursor: pointer;
}

.act-player_icon29 {
    width: 40px;
    height: 40px;
    background: url(http://test-ak.englishtown.com/_imgs/ui/courseware/study/player_icon_29x29-png8.png) no-repeat;
    display: block;
    cursor: pointer;
}

.act-player_icon42 {
    width: 58px;
    height: 58px;
    background: url(http://test-ak.englishtown.com/_imgs/ui/courseware/study/player_icon_42x42-png8.png) no-repeat;
    display: block;
    cursor: pointer;
}

/* for size 16*/
/*record_normal*/
.act-player_icon16.act-player_rd_n {
    background-position: 0 -32px;
}

/*record_hover*/
.act-player_icon16.act-player_rd_h {
    background-position: -32px -32px;
}

/*record_clicked*/
.act-player_icon16.act-player_rd_c {
    background-position: -60px -32px;
}

/*record_disable*/
.act-player_icon16.act-player_rd_d {
    background-position: -90px -32px;
}

/*play_normal*/
.act-player_icon16.act-player_pl_n {
    background-position: 0 0;
}

/*play_hover*/
.act-player_icon16.act-player_pl_h {
    background-position: -32px 0;
}

/*play_clicked*/
.act-player_icon16.act-player_pl_c {
    background-position: -60px 0;
}

/*play_disable*/
.act-player_icon16.act-player_pl_d {
    background-position: -90px 0;
}

/* for size 29*/
/*record_normal*/
.act-player_icon29.act-player_rd_n {
    background-position: 0 -46px;
}

/*record_hover*/
.act-player_icon29.act-player_rd_h {
    background-position: -46px -46px;
}

/*record_clicked*/
.act-player_icon29.act-player_rd_c {
    background-position: -92px -46px;
}

/*record_disable*/
.act-player_icon29.act-player_rd_d {
    background-position: -138px -46px;
}

/*play_normal*/
.act-player_icon29.act-player_pl_n {
    background-position: 0 0;
}

/*play_hover*/
.act-player_icon29.act-player_pl_h {
    background-position: -46px 0;
}

/*play_clicked*/
.act-player_icon29.act-player_pl_c {
    background-position: -92px 0;
}

/*play_disable*/
.act-player_icon29.act-player_pl_d {
    background-position: -138px 0;
}

/****************************/
/*record_normal*/
.act-player_icon42.act-player_rd_n {
    background-position: 0 -66px;
}

/*record_hover*/
.act-player_icon42.act-player_rd_h {
    background-position: -66px -66px;
}

/*record_clicked*/
.act-player_icon42.act-player_rd_c {
    background-position: -132px -66px;
}

/*record_disable*/
.act-player_icon42.act-player_rd_d {
    background-position: -198px -66px;
}

/*play_normal*/
.act-player_icon42.act-player_pl_n {
    background-position: 0 0;
}

/*play_hover*/
.act-player_icon42.act-player_pl_h {
    background-position: -66px 0;
}

/*play_clicked*/
.act-player_icon42.act-player_pl_c {
    background-position: -132px 0;
}

/*play_disable*/
.act-player_icon42.act-player_pl_d {
    background-position: -198px 0;
}

/* for default big size 49*/

/*record_normal*/
.act-player_rd_n {
    background-position: 0 -78px;
}

/*record_hover*/
.act-player_rd_h {
    background-position: -78px -78px;
}

/*record_clicked*/
.act-player_rd_c {
    background-position: -156px -79px;
}

/*record_disable*/
.act-player_rd_d {
    background-position: -234px -78px;
}

/*play_normal*/
.act-player_pl_n {
    background-position: 0 0;
}

/*play_hover*/
.act-player_pl_h {
    background-position: -78px 0;
}

/*play_clicked*/
.act-player_pl_c {
    background-position: -156px 0;
}

/*play_disable*/
.act-player_pl_d {
    background-position: -234px 0;
}

/*ps:progress*/
.act-player_ps_panel {
    width: 156px;
    height: 47px;
    background: url(http://test-ak.englishtown.com/_imgs/ui/courseware/study/audio_progress_v1-png8.png) 0px 0px no-repeat;
    padding: 0 9px 0 9px;
    left: -50px;
    top: -38px;
    display: none;
    position: absolute;
    z-index:100;
}
.act-player_ps_panel.act-player_ps_panel_left
{
    background: url(http://test-ak.englishtown.com/_imgs/ui/courseware/study/audio_progress_v1-png8.png) 0px -131px no-repeat;
    height:50px;
    left:8px;
}
.act-player_ps_total {
    width: 149px;
    height: 10px;
    background: url(http://test-ak.englishtown.com/_imgs/ui/courseware/study/audio_progress_v1-png8.png) -9px -60px no-repeat;
    position: absolute;
    top: 11px;
    display: block;
    z-index: 100;
    cursor: pointer;
}

.act-player_ps_current {
    width: 0px;
    height: 10px;
    display: block;
    background: url(http://test-ak.englishtown.com/_imgs/ui/courseware/study/audio_progress_v1-png8.png) -9px -81px no-repeat;
    top: 11px;
    position: absolute;
    z-index: 101;
    cursor: pointer;
}

.act-player_ps_icon {
    width: 20px;
    height: 20px;
    display: block;
    background: url(http://test-ak.englishtown.com/_imgs/ui/courseware/study/audio_progress_v1-png8.png) 0px -100px no-repeat;
    top: 7px;
    left: 9px;
    position: absolute;
    cursor: pointer;
    z-index: 102;
}

.act-player_ps_close {
    width: 28px;
    height: 28px;
    display: block;
    cursor: pointer;
    background: url(http://test-ak.englishtown.com/_imgs/ui/courseware/study/audio_progress_v1-png8.png) -30px -93px no-repeat;
    position: absolute;
    top: -12px;
    left: 150px;
    z-index: 103;
}

.act-player_audio {
    position: absolute;
    display:none;
    width:0;
}

.act-player 
{
    z-index: 100;
    position: absolute;
}

.act-player_flash52 {
    top: -30px;
    left: 20px;
}

.act-player_flash49 {
    top: -80px;
    left: -50px;
}

.act-player_flash42{
    top: -61px;
    left:-41px;
}

.act-player_flash50_ps_bar_left{margin:-10px 0 0 50px;}

.act-player42{
    top:-22px;
}

.act-player_flash29 {
    top: -25px;
    left: -26px;
}

.act-player49 {
    top: -34px;
    left: 0px;
}

.act-player_icon img{display:none;position:relative;margin:0;padding:0;}

.act-player_pl_l{background-position:-234px 0;}
.act-player_pl_l img{width:41px!important;height:41px!important;display:block;position:relative;}
.act-player_pl_l .act-player_loading{position: relative; top:15px!important;left:15px!important;}

.act-player_icon42.act-player_pl_l{background-position:-200px 0;}
.act-player_icon42.act-player_pl_l img{width:36px!important;height:36px!important;}
.act-player_icon42.act-player_pl_l .act-player_loading{top:11px!important;left:11px!important;}

.act-player_icon29.act-player_pl_l{background-position:-138px 0;}
.act-player_icon29.act-player_pl_l img{width:25px!important;height:25px!important;}
.act-player_icon29.act-player_pl_l .act-player_loading{top:8px!important;left:8px!important;}

.act-player_icon16.act-player_pl_l{background-position:-90px 0;}
.act-player_icon16.act-player_pl_l img{width:16px!important;height:17px!important;}
.act-player_icon16.act-player_pl_l .act-player_loading{top:0px!important;left:0px!important;}
