.lb-v-dummy { 
	width: 100%; 
	display: 
	block; 
	height: 1px; 
}
.lb-h-dummy {
	height: 100%; 
	display: block; 
	width: 1px; 
}
.lb-clear { 
	clear: both; 
}
.lb-wrap { 
	z-index: 0; 
	overflow: auto; 
	position: relative; 
}
.lb-v-scrollbar,
.lb-h-scrollbar { 
	z-index: 1; 
	position: absolute; 	
	background: #cfcfcf;
	_background: #efefef;
	opacity: 0.6; 
    filter:alpha(opacity=60);
	-webkit-border-radius: 7px; 
	-moz-border-radius: 7px;
	border-radius: 7px; 
}
.lb-v-scrollbar {
	right: 2px; 
	top: 2px;
	width: 7px; 
	height: 100%; 
}
.lb-h-scrollbar {
	bottom: 2px; 
	left: 2px; 
	width: 100%; 
	height: 7px;
	font-size: 0;
}
.lb-v-scrollbar-slider,
.lb-h-scrollbar-slider { 
	position: absolute; 
	left: 0; 
	top: 0; 
	background: #000;
	_background: #cfcfcf;
	Opacity: .5;
	filter:alpha(opacity=50);
	-webkit-border-radius: 7px; 
	-moz-border-radius: 7px;
	border-radius: 7px; 
}
.lb-v-scrollbar-slider {
	width: 7px; 
	height: 50px;
}
.lb-h-scrollbar-slider { 
	height: 7px; 
	width: 50px; 
	font-size: 0;
}

<!--[if IE 8]>
<style>
.lb-v-scrollbar { background: red; }
</style>
<![endif]-->