/*///////////////////////////////////////////////////////////////////////////////////////
 //
 //  Hierarchy:     Englishtown > School > Base Styles
 //  File:          ets-base.css
 //  Images:        ets-buttons.png
 //  Dependencies:  None
 //  Description:   Base styles including: CSS Reset, Common Styles, Buttons
 //                 Must be referenced in all school content !important
 //
 //////////////////////////////////////////////////////////////////////////////////////*/

/*===================================
 CSS Reset
 ==================================*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset, img {
	border: 0;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
	font-weight: normal;
}
li {
	list-style: none;
}
caption, th {
	text-align: left;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
q:before, q:after {
	content: '';
}
abbr, acronym {
	border: 0;
	font-variant: normal;
}
sup {
	vertical-align: text-top;
}
sub {
	vertical-align: text-bottom;
}
input, textarea, select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}
input, textarea, select {*
	font-size: 100%;
}
legend {
	color: #000;
}
/*===================================
 Common Styles
 ==================================*/
/* Common: School Resets */
.ets {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #222;
	-webkit-text-size-adjust: none;
	text-align: left;
}
.ets h1 {
	font-size: 3em;
	line-height: 1;
	margin-bottom: 0.5em;
}
.ets h2 {
	font-size: 2em;
	margin-bottom: 0.5em;
}
.ets h3 {
	font-size: 1.5em;
	line-height: 1;
	margin-bottom: 0.5em;
}
.ets h4 {
	font-size: 1.2em;
	line-height: 1.25;
	margin-bottom: 0.5em;
}
.ets h5 {
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 0.5em;
}
.ets h6 {
	font-size: 1em;
	font-weight: bold;
}
.ets p {
	margin: 0 0 0.5em;
	line-height: 1.6;
}
/* Common: Clearfix */
.ets-cf:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden
}
.ets-cf {
	*zoom: 1
}
/* Common: RTL */
.ets-rtl {
	direction: rtl;
}
/* Common: Float and clear float */
.ets-clear {
	clear: both;
}
.ets-left {
	float: left;
}
.ets-right {
	float: right;
}
/* Common: Display */
.ets-hidden {
	display: none;
}
.ets-block {
	display: block;
}
.ets-inlineblock {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
/* Common: Font style */
.ets-bold {
	font-weight: 700;
}
.ets-italic {
	font-style: italic;
}
/*===================================
 Buttons
 ==================================*/
/* Button: Common style */
.ets-btn, 
.ets-btn span,
.ets-btn-mini, 
.ets-btn-mini span,
.ets-btn-go, 
.ets-btn-go span,
.ets-btn-skip, 
.ets-btn-skip span,
.ets-btn-prev, 
.ets-btn-prev span,
.ets-btn-next, 
.ets-btn-next span,
.ets-btn-back, 
.ets-btn-back span,
.ets-btn-submit, 
.ets-btn-submit span,
.ets-btn-yes, 
.ets-btn-yes span,
.ets-btn-no, 
.ets-btn-no span,
.ets-btn-close,
.ets-btn-close-s,
.ets-btn-expand {
	background-image: url(../imgs/ets-buttons.png);
	background-repeat: no-repeat;
	display: block;
	text-decoration: none!important;
	text-align: center;
}
.ets-btn,
.ets-btn-mini,
.ets-btn-go,
.ets-btn-skip,
.ets-btn-prev,
.ets-btn-next,
.ets-btn-back,
.ets-btn-submit,
.ets-btn-yes,
.ets-btn-no,
.ets-btn-close,
.ets-btn-close-s,
.ets-btn-expand {
 	display: inline-block;
 	*display: inline;
	*zoom: 1;
	outline: none;
	cursor: pointer;
}

/* Button: Default Button */
.ets-btn {
	height: 33px;
	padding-left: 22px;
	background-position: 0 -120px;
}
.ets-btn span {
	margin: 0;
	padding: 0 22px 0 0;
	height: 33px;
	line-height: 32px;
	background-position: right -120px;
	color: #494949;
	font-size: 15px;
	font-weight: 700;
	text-shadow: 0px 1px 0px #fff;
}
.ets-btn:hover, 
.ets-btn:hover span {
	background-position-y: -160px;
}
.ets-btn:active, 
.ets-btn:active span {
	background-position-y: -120px;
	text-shadow: none;
}
.ets-btn-disabled, 
.ets-btn-disabled:hover,
.ets-btn-disabled span, 
.ets-btn-disabled:hover span,
.ets-btn-disabled:active, 
.ets-btn-disabled:active span {
	background-position-y: -80px;
	color: #fff;
	text-shadow: 1px 1px 1px #888;
	cursor: default;
}

/* Button: Mini */
.ets-btn-mini {
	height: 28px;
	padding-left: 22px;
	background-position: 0 -610px;
}
.ets-btn-mini span {
	margin: 0;
	padding: 0 22px 0 0;
	height: 28px;
	line-height: 24px;
	background-position: right -610px;
	color: #494949;
	font-size: 12px;
	font-weight: 700;
	text-shadow: 0px 1px 0px #fff;
}
.ets-btn-mini:hover, 
.ets-btn-mini:hover span {
	background-position-y: -640px;
}
.ets-btn-mini:active, 
.ets-btn-mini:active span {
	background-position-y: -610px;
	text-shadow: none;
}
.ets-btn-mini-disabled, 
.ets-btn-mini-disabled:hover,
.ets-btn-mini-disabled span, 
.ets-btn-mini-disabled:hover span,
.ets-btn-mini-disabled:active, 
.ets-btn-mini-disabled:active span {
	background-position-y: -670px;
	color: #fff;
	text-shadow: 1px 1px 1px #888;
	cursor: default;
}

/* Button: Skip */
.ets-btn-skip {
	height: 28px;
	padding-left: 22px;
	background-position: 0 -520px;
}
.ets-btn-skip span {
	margin: 0;
	padding: 0 22px 0 4px;
	height: 28px;
	line-height: 24px;
	background-position: right -520px;
	color: #494949;
	font-size: 12px;
	font-weight: 700;
	text-shadow: 0px 1px 0px #fff;
}
.ets-btn-skip:hover, 
.ets-btn-skip:hover span {
	background-position-y: -550px;
}
.ets-btn-skip:active, 
.ets-btn-skip:active span {
	background-position-y: -520px;
	text-shadow: none;
}
.ets-btn-skip-disabled, 
.ets-btn-skip-disabled:hover,
.ets-btn-skip-disabled span, 
.ets-btn-skip-disabled:hover span,
.ets-btn-skip-disabled:active, 
.ets-btn-skip-disabled:active span {
	background-position-y: -580px;
	color: #fff;
	text-shadow: 1px 1px 1px #888;
	cursor: default;
}

/* Button: Go */
.ets-btn-go {
	height: 33px;
	padding-left: 22px;
	background-position: 0 -200px;
}
.ets-btn-go span {
	margin: 0;
	padding: 0 32px 0 0;
	height: 33px;
	line-height: 32px;
	background-position: right -200px;
	color: #fff;
	font-size: 15px;
	font-weight: 700;
	text-shadow: 1px 1px 1px #B64305;
}
.ets-btn-go:hover, 
.ets-btn-go:hover span {
	background-position-y: -240px;
}
.ets-btn-go:active, 
.ets-btn-go:active span {
	background-position-y: -200px;
	text-shadow: none;
}
.ets-btn-go-disabled, 
.ets-btn-go-disabled:hover,
.ets-btn-go-disabled span, 
.ets-btn-go-disabled:hover span,
.ets-btn-go-disabled:active, 
.ets-btn-go-disabled:active span {
	background-position-y: -280px;
	color: #fff;
	text-shadow: 1px 1px 1px #888;
	cursor: default;
}

/* Button: Next */
.ets-btn-next {
	height: 33px;
	padding-left: 22px;
	background-position: 0 -200px;
}
.ets-btn-next span {
	margin: 0;
	padding: 0 32px 0 0;
	height: 33px;
	line-height: 32px;
	background-position: right -200px;
	color: #fff;
	font-size: 15px;
	font-weight: 700;
	text-shadow: 1px 1px 1px #B64305;
}
.ets-btn-next:hover, 
.ets-btn-next:hover span {
	background-position-y: -240px;
}
.ets-btn-next:active, 
.ets-btn-next:active span {
	background-position-y: -200px;
	text-shadow: none;
}
.ets-btn-next-disabled, 
.ets-btn-next-disabled:hover,
.ets-btn-next-disabled span, 
.ets-btn-next-disabled:hover span,
.ets-btn-next-disabled:active, 
.ets-btn-next-disabled:active span {
	background-position-y: -280px;
	color: #fff;
	text-shadow: 1px 1px 1px #888;
	cursor: default;
}

/* Button: Prev */
.ets-btn-prev {
	height: 33px;
	padding-left: 22px;
	background-position: 0 -400px;
}
.ets-btn-prev span {
	margin: 0;
	padding: 0 22px 0 6px;
	height: 33px;
	line-height: 32px;
	background-position: right -400px;
	color: #494949;
	font-size: 15px;
	font-weight: 700;
	text-shadow: 0px 1px 0px #fff;
}
.ets-btn-prev:hover, 
.ets-btn-prev:hover span {
	background-position-y: -440px;
}
.ets-btn-prev:active, 
.ets-btn-prev:active span {
	background-position-y: -400px;
	text-shadow: none;
}
.ets-btn-prev-disabled, 
.ets-btn-prev-disabled:hover,
.ets-btn-prev-disabled span, 
.ets-btn-prev-disabled:hover span,
.ets-btn-prev-disabled:active, 
.ets-btn-prev-disabled:active span {
	background-position-y: -480px;
	color: #fff;
	text-shadow: 1px 1px 1px #888;
	cursor: default;
}

/* Button: Back */
.ets-btn-back {
	height: 33px;
	padding-left: 22px;
	background-position: 0 -400px;
}
.ets-btn-back span {
	margin: 0;
	padding: 0 22px 0 6px;
	height: 33px;
	line-height: 32px;
	background-position: right -400px;
	color: #494949;
	font-size: 15px;
	font-weight: 700;
	text-shadow: 0px 1px 0px #fff;
}
.ets-btn-back:hover, 
.ets-btn-back:hover span {
	background-position-y: -440px;
}
.ets-btn-back:active, 
.ets-btn-back:active span {
	background-position-y: -400px;
	text-shadow: none;
}
.ets-btn-back-disabled, 
.ets-btn-back-disabled:hover,
.ets-btn-back-disabled span, 
.ets-btn-back-disabled:hover span,
.ets-btn-back-disabled:active, 
.ets-btn-back-disabled:active span {
	background-position-y: -480px;
	color: #fff;
	text-shadow: 1px 1px 1px #888;
	cursor: default;
}
/* Button: Yes */
.ets-btn-yes {
	height: 33px;
	padding-left: 22px;
	background-position: 0 -200px;
}
.ets-btn-yes span{
	margin: 0;
	padding: 0 32px 0 0;
	height: 33px;
	line-height: 32px;
	background-position: right -200px;
	color: #fff;
	font-size: 15px;
	font-weight: 700;
	text-shadow: 1px 1px 1px #B64305;
}
.ets-btn-yes:hover, 
.ets-btn-yes:hover span {
	background-position-y: -240px;
}
.ets-btn-yes:active, 
.ets-btn-yes:active span {
	background-position-y: -200px;
	text-shadow: none;
}
.ets-btn-yes-disabled, 
.ets-btn-yes-disabled:hover,
.ets-btn-yes-disabled span, 
.ets-btn-yes-disabled:hover span,
.ets-btn-yes-disabled:active, 
.ets-btn-yes-disabled:active span {
	background-position-y: -280px;
	color: #fff;
	text-shadow: 1px 1px 1px #888;
	cursor: default;
}

/* Button: No */
.ets-btn-no {
	height: 33px;
	padding-left: 22px;
	background-position: 0 -400px;
}
.ets-btn-no span {
	margin: 0;
	padding: 0 22px 0 6px;
	height: 33px;
	line-height: 32px;
	background-position: right -400px;
	color: #494949;
	font-size: 15px;
	font-weight: 700;
	text-shadow: 0px 1px 0px #fff;
}
.ets-btn-no:hover, 
.ets-btn-no:hover span {
	background-position-y: -440px;
}
.ets-btn-no:active, 
.ets-btn-no:active span {
	background-position-y: -400px;
	text-shadow: none;
}
.ets-btn-no-disabled, 
.ets-btn-no-disabled:hover,
.ets-btn-no-disabled span, 
.ets-btn-no-disabled:hover span,
.ets-btn-no-disabled:active, 
.ets-btn-no-disabled:active span {
	background-position-y: -480px;
	color: #fff;
	text-shadow: 1px 1px 1px #888;
	cursor: default;
}

/* Button: Submit */

.ets-btn-submit {
	height: 33px;
	padding-left: 22px;
	background-position: 0 -200px;
}
.ets-btn-submit span {
	margin: 0;
	padding: 0 22px 0 0;
	height: 33px;
	line-height: 32px;
	background-position: right 0;
	color: #fff;
	font-size: 15px;
	font-weight: 700;
	text-shadow: 1px 1px 1px #B64305;
}
.ets-btn-submit:hover, 
.ets-btn-submit:hover span {
	background-position-y: -40px;
}
.ets-btn-submit:active, 
.ets-btn-submit:active span {
	background-position-y: 0;
	text-shadow: none;
}
.ets-btn-submit-disabled, 
.ets-btn-submit-disabled:hover,
.ets-btn-submit-disabled span, 
.ets-btn-submit-disabled:hover span,
.ets-btn-submit-disabled:active, 
.ets-btn-submit-disabled:active span {
	background-position-y: -80px;
	color: #fff;
	text-shadow: 1px 1px 1px #888;
	cursor: default;
}

/* Button: Close */
.ets-btn-close {
	width: 31px;
	height: 33px;
	background-position: 0 -720px;
	cursor: pointer;
}
.ets-btn-close:hover {
	background-position-x: -40px;
}

/* Button: Close - Small */
.ets-btn-close-s {
	width: 26px;
	height: 26px;
	background-position: -80px -720px;
	cursor: pointer;
}
.ets-btn-close-s:hover {
	background-position-x: -110px;
}

/* Button: Expand */
.ets-btn-expand {
	width: 21px;
	height: 22px;
	background-position: -300px -720px;
	cursor: pointer;
}
.ets-btn-expand:hover {
	background-position-x: -325px;
}
.ets-btn-expand:active {
	background-position-x: -350px;
}
.ets-btn-expand-up {
	background-position-x: -375px;
}
.ets-btn-expand-up:hover {
	background-position-x: -400px;
}
.ets-btn-expand-up:active {
	background-position-x: -425px;
}
.ets-btn-expand-down {
	background-position-x: -300px;
}
.ets-btn-expand-down:hover {
	background-position-x: -325px;
}
.ets-btn-expand-down:active {
	background-position-x: -350px;
}


/*===================================
 Form
 ==================================*/
/* Select */


/* Checkbox */
.ets-checkbox {
	background-image: url(../imgs/ets-form.png);
	background-repeat: no-repeat;
	background-position: 0 -80px;
	overflow: hidden;
	position: relative;
	padding: 0 0 0 18px;
	line-height: 16px;
}
.ets-checkbox:active {
	background-position-y: -110px;
}
.ets-checkbox-checked {
	background-position-y: -140px;
}
.ets-checkbox-checked:active {
	background-position-y: -140px;
}
.ets-checkbox input {
	position: absolute;
	left: -9999px;
}

/* Radio */
.ets-radio {
	overflow: hidden;
	position: relative;
	padding: 0 0 0 18px;
	line-height: 16px;
	background: transparent url(../../imgs/ets-form.png) -750px -80px no-repeat;
}
.ets-radio:active {
	background-position-y: -110px;
}
.ets-radio-checked {
	background-position-y: -140px;
}
.ets-radio-checked:active {
	background-position-y: -140px;
}
.ets-radio input {
	position: absolute;
	left: -9999px;
}

/* Checkbox Bold */
.ets-checkbox-b {
	height: 47px;
	max-width: 390px;
	padding: 0 0 0 10px;
	background: transparent url(../imgs/ets-form.png) 0 -300px no-repeat;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
.ets-checkbox-b input{
	position: absolute;
	left: -9999px;
}
.ets-checkbox-b-wrapper {
	display: block;
	height: 47px;
	padding: 0 12px 0 0;
	background: transparent url(../imgs/ets-form.png) right -300px no-repeat;
	position: relative;
}
.ets-checkbox-b-wrapper span {
	display: block;
	height: 47px;
	line-height: 45px;
	font-size: 14px;
	font-weight: 700;
	padding: 0 0 0 52px;
	text-align: center;
	background: transparent url(../imgs/ets-form.png) 0 -170px no-repeat;
}
.ets-checkbox-b-checked .ets-checkbox-b-wrapper span {
	background-position-y: -230px;
}


/* Radio Bold */
.ets-radio-b {
	height: 47px;
	max-width: 390px;
	padding: 0 0 0 10px;
	background: transparent url(../imgs/ets-form.png) 0 -300px no-repeat;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
.ets-radio-b input{
	position: absolute;
	left: -9999px;
}
.ets-radio-b-wrapper {
	display: block;
	height: 47px;
	padding: 0 12px 0 0;
	background: transparent url(../imgs/ets-form.png) right -300px no-repeat;
	position: relative;
}
.ets-radio-b-wrapper span {
	display: block;
	height: 47px;
	line-height: 45px;
	font-size: 14px;
	font-weight: 700;
	padding: 0 0 0 40px;
	text-align: center;
	background: transparent url(../imgs/ets-form.png) -750px -172px no-repeat;
}
.ets-radio-b-checked .ets-radio-b-wrapper span {
	background-position-y: -232px;
}

/* Search */
.ets-search {
	background: url(../imgs/ets-form.png) 0 -420px no-repeat;
	display: inline-block;
 	*display: inline;
	*zoom: 1;
	outline: none;
	height: 29px;
	padding-left: 30px;
}
.ets-search span{
	display: block;
	margin: 0;
	padding: 0 12px 0 0;
	height: 29px;
	background: url(../imgs/ets-form.png) right -420px no-repeat;
}
.ets-search span input{
	border: none;
	background:none;
	outline: none;
	max-width: 400px;
	height: 23px;
	margin-top: 2px;
	color: #444;
	width: 100%;
}
.ets-search-focus {
	background-position-y: -460px;
}
.ets-search-focus span{
	background-position-y: -460px;
}

/*===================================
 Elements
 ==================================*/

/* Popbox */
.ets-popbox-hd,
.ets-popbox-bd,
.ets-popbox-ft {
	background-image: url(../imgs/ets-popbox.png);
	background-repeat: no-repeat;
}

.ets-popbox {
	width: 314px;
}

.ets-popbox-hd {
	height: 48px;
	background-position: 0 0;
}

.ets-popbox-bd {
	min-height: 20px;
	background-position: -314px 0;
	background-repeat: repeat-y;
	padding: 0 27px;
}

.ets-popbox-ft {
	height: 36px;
	background-position: 0 -48px;
}

.ets-popbox-bd .ets-popbox-links {
	margin: 0;
	padding: 0;
	list-style: none;
}
.ets-popbox-bd .ets-popbox-links li {
	width: auto;
	float: none;
	clear:both;
	border-bottom: 1px solid #d9d9d9;
	padding: 0;
	margin:0;
}
.ets-popbox-bd .ets-popbox-links li a {
	display: block;
	margin:0;
	padding: 0 10px;
	line-height: 2.2;
	text-decoration: none;
	color: #666;
}
.ets-popbox-bd .ets-popbox-links li:last-of-type {
	border-bottom: none;
}
.ets-popbox-bd .ets-popbox-links li:hover {
	background: #e9e9e9;
}
.ets-popbox-bd .ets-popbox-links li:active {
	background: #e0e0e0;
}

/*===================================
 active question box 
 ==================================*/
.ets-question-fullwidth .ets-question-tips {
    display: none;
}
.ets-question-twocols .ets-question-tips {
    width: 68%;
	height: 450px;
	border-radius: 10px 0 0 10px;
}
.ets-question-fullwidth .ets-question-content {
	height: 450px;
	width: 100%;
	border-radius: 10px;
}
.ets-question-twocols .ets-question-content {
	height: 450px;
	width: 32%;
	border-radius: 0 10px 10px 0;
	position: absolute;
	right: 0;
	top: 0;
}

/*===================================
 IE FIXes
 ==================================*/
.ets-btn, 
.ets-btn span,
.ets-btn-mini, 
.ets-btn-mini span,
.ets-btn-go, 
.ets-btn-go span,
.ets-btn-skip, 
.ets-btn-skip span,
.ets-btn-prev, 
.ets-btn-prev span,
.ets-btn-next, 
.ets-btn-next span,
.ets-btn-back, 
.ets-btn-back span,
.ets-btn-submit, 
.ets-btn-submit span,
.ets-btn-yes, 
.ets-btn-yes span,
.ets-btn-no, 
.ets-btn-no span,
.ets-btn-close,
.ets-btn-close-s,
.ets-btn-expand {
	_background-image: url(../imgs/ets-buttons-ie6.png); /* use png8 for ie6 */
}

.ets-popbox-hd,
.ets-popbox-bd,
.ets-popbox-ft {
	_background-image: url(../imgs/ets-popbox-ie6.png); /* use png8 for ie6 */
}
